body {
  margin: 5px 0 5px 5px;
  font-family: "Comic Sans MS", sans-serif;
  color: #fff;
  background-color: #000;
 }

h1 {
  position: right;
  font-size: 4em;
  font-weight: 70;
}

h2 {
  position: relative;
  font-size: 3em;
  font-weight: 70;
}

h3 {
  position: relative;
  font-size: 2em;
  font-weight: 70;
}

h4 {
  position: relative;
  font-size: 1.5em;
  font-weight: 70;
}

h5 {
  position: relative;
  font-size: 1em;
  font-weight: 70;
  text-align: center;
  color: #fff;
}

p {
  position: relative;
  font-size: 2em;
  font-weight: 30;
}

footer {
  color: #fff;
}

.lable {
  width: 150px;
  position: sticky;
}

.face {
  width: 200px;
  margin: 10px; 
}

.advertising {
  width: 90px; 
  box-align: center;
}

.header_title {
  position: right;
  font-size: 4em;
  font-weight: 70;
}

.nav {
  position: right;
  font-size: 1.4em;
  font-weight: 70;
  color: #fff;
}

.form {
  position: relative;
  width: 500px;
  margin: 0 auto;
  text-align: center;
}

.people {
  position: relative;
  width: 700px;
  margin: 0 auto;
  text-align: center;
}

.form_input,
.form_button,
.date {
  display: block;
  box-sizing: border-box;
  font-family: "Comic Sans MS", sans-serif;
  width: 100%;
  margin-bottom: 16px;
  padding: 8px 16px;
  transition: transform 0.3s ease-out;
  border: none;
  border-radius: 8px;
  outline: none;
  font-size: 1.5em;
  font-weight: 300;
  color: #000;
  background-color: #fff;
}

.form_button:hover {
  transition: transform 0.3s ease-out;
  transform: scale(1.02, 1.02);
  box-shadow: rgba(255, 255, 255, 0.853) 0 0 16px 2px;
}

.good_days {
  margin: 10px;
}


img {
  width: 20%;  
  position: relative;
}

/* General styles */
.sim-slider {
  position: relative;
  align-content: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.sim-slider-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: relative;
  align-content: center
}

.sim-slider-element {
  width: 100%;
  transition: opacity 1s ease-in;
  opacity: 0;
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  display: block;
  align-content: center
}

/* Navigation item styles */
div.sim-slider-arrow-left,
div.sim-slider-arrow-right {
  position: absolute;
  cursor: pointer;
  opacity: 0.6;
  z-index: 4;
  align-content: center
}

div.sim-slider-arrow-left {
  left: 10px;
  top: 40%;
  display: block;
}

div.sim-slider-arrow-right {
  right: 10px;
  top: 40%;
  display: block;
}

div.sim-slider-arrow-left:hover {
  opacity: 1.0;
}

div.sim-slider-arrow-right:hover {
  opacity: 1.0;
}

div.sim-slider-dots {
  width: 40%;
  height: auto;
  left: 0;
  bottom: 0;
  z-index: 3;
  align-content: center
}

span.sim-dot {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  padding: 5px;
  display: inline-block;
  background-color: #BBB;
  border-radius: 3px;
  cursor: pointer;
  align-content: center
}

table {
  width: 70%;
  align-content: center
}

tr:nth-child(even) {
   background: #CCC; 
  }
tr:nth-child(odd) { 
  background: #bbb; 
}

/* upload-file */
.upload-file__label .upload-file__text,
.upload-file__label .upload-file__icon path {
    transition: .25s ease;
}

.upload-file__label:hover .upload-file__text {
    color: #bbb;
}

.upload-file__label:hover .upload-file__icon path {
    fill: #bbb;
}

.upload-file__label:hover {
    border: 2px dashed #bbb;
}

@media screen and (max-width:991px) {
  .sim-slider {
      display: none;
  }
}